= form_tag login_visitors_path, {:method => "post", :class => "form-signin"} do
  %h3.form-signin-heading Sign in
  .form-group
    %input#inputEmail.form-control{:autofocus => "", :placeholder => "Email address", :required => "", :type => "email", :name => "account[email]"}
  .form-group
    %input#inputPassword.form-control{:placeholder => "Password", :required => "", :type => "password", :name => "account[password]"}
  .form-group
    .checkbox
      %label
        %input{:type => "checkbox", :value => "remember-me", :name => "account[remember]"}
          Remember me
  %button.btn.btn-lg.btn-primary.btn-block{:type => "submit"} Sign in
