.row
  .col-md-offset-1.col-md-10
    .row
      .col-md-offset-1.col-md-5.pdt-50
        %h3 Login here
        %p Unlock the features that make your life easier and help you better manage your contacts
        %p Don't have an account yet!
        %p
          Create an account here
          %a{:href => signup_path} Signup
      .col-md-offset-1.col-md-4.pdt-50
        = render 'login_form'
  .col-md-3
