%h4.title-label Notes
%hr
.panel-group
  .panel.panel-default
    .panel-heading Panel with panel-default class
    .panel-body Panel Content
  .panel.panel-primary
    .panel-heading Panel with panel-primary class
    .panel-body Panel Content
  .panel.panel-success
    .panel-heading Panel with panel-success class
    .panel-body Panel Content
  .panel.panel-info
    .panel-heading Panel with panel-info class
    .panel-body Panel Content
  .panel.panel-warning
    .panel-heading Panel with panel-warning class
    .panel-body Panel Content
  .panel.panel-danger
    .panel-heading Panel with panel-danger class
    .panel-body Panel Content
