%ul.nav.nav-tabs
  %li.active
    %a{:href => "#profile_tab_content", :"data-toggle" => 'tab'} Profile
  %li
    %a{:href => "#notes_tab_content", :"data-toggle" => 'tab'} Notes
  %li
    %a{:href => "#reminders_tab_content", :"data-toggle" => 'tab'} Reminders
  %li
    %a{:href => "#settings_tab_content", :"data-toggle" => 'tab'} Settings
