.mgb-10
  margin-bottom: 10px !important

.mgl-0
  margin-left: 0px !important

.mgr-10
  margin-right: 10px !important

.mglr-0
  margin-left: 0px !important
  margin-right: 0px !important

.mgt-0
  margin-top: 0px !important

.pdl-30
  padding-left: 30px !important

.pdr-30
  padding-right: 30px !important

.pdt-10
  padding-top: 10px !important

.pdt-50
  padding-top: 50px !important

.pdr-0
  padding-right: 0px !important

.pdl-0
  padding-left: 0px !important

.pdlr-0
  padding-left: 0px !important
  padding-right: 0px !important

.float-left
  float: left !important

.text-align-r
  text-align: right !important

.talign-c
  text-align: center !important

.clickable
  cursor: pointer !important

.hidden
  display: none !important
